/*img {
  display: inline-block;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

a.hovertext {
  position: relative;
  width: 500px;
  text-decoration: none !important;
  text-align: center;
}

a.hovertext::after {
  content: attr(title);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5em 20px;
  width: 460px;
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none !important;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}

a.hovertext:hover::after, a.hovertext:focus::after {
  opacity: 1.0;
}


.field_with_errors {
  padding: 2px;
  display: table;
  border-style: solid;
  border-color: red;
}



.center {
    margin: auto;
    width: 80%;
    padding: 20px;











/*


.has-signup-error{
  .signup-error{
    background: transparent;
    color: $brand-danger;
    border: none;
  }

  input, select{
    background-color: $bg-danger;
    border-color: $brand-danger;
    color: $gray-base;
    font-weight: 500;
  }

  &.checkbox{
    label{
      &:before{
        background-color: $bg-danger;
        border-color: $brand-danger;
      }
    }
  }*/
