<body class=center>

<h1>Your Cart</h1>

  <%= render partial: "cart", locals: {cart: @cart} %>

  <%= button_to 'Empty Cart', cart_path(@cart), method: :delete, :data => {:confirm => 'This will empty everything in your cart. Are you sure?'} %>

  <% if @cart.total != 0 %>
  <p>  <%= button_to 'Proceed to Checkout', checkout_path, method: :post %></p>
  <% end %>


</body>
