
<body class=center>
  <div class="cart">

        <h1>Your Cart</h1>
        <br></br>
       <%= render partial: "cart", locals: {cart: @cart} %>

      <div class="bigbutton"> <%= button_to 'Empty Cart', cart_path(@cart), method: :delete, :data => {:confirm => 'This will empty everything in your cart. Are you sure?'} %> </div>


      <% if @cart.total != 0 %>
        <div class="bigbutton">  <%= button_to 'Proceed to Checkout', checkout_path, method: :post %> </div>
        <% end %>

    </div>
</body>
