
<body class=center>
  <div class="cart">


      <h1 class="cart_heading">Your Cart</h1>
       <%= render partial: "cart", locals: {cart: @cart} %>

      <% if @cart.total != 0 %>
        <div class="bigbutton"> <%= button_to 'Proceed to Checkout', checkout_path, method: :post %> </div>
      <% end %>

    </div>
</body>
