<body class=center>


<h1>Your Cart</h1>



      <div id="add_to_cart"></div>

  <%= button_to 'Empty Cart', cart_path(@cart), method: :delete, :data => {:confirm => 'This will empty everything in your cart. Are you sure?'} %>

<p>  <%= button_to 'Proceed to Checkout', checkout_path, method: :post %></p>


</body>
