

    <% if form.object.errors.any? %>
      <div class="field_with_errors">
        <h3>
          <%= pluralize(form.object.errors.count, "error") %>
          prevented your order from being processed:
        </h3>
        <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<br>
