.address_heading {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;
  padding: 5px;
  margin-top: 13%;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
}

.edit_user label {
  font-size: 20px;
  color: #595959;
}

fieldset {
  margin-top: 20px;
}

fieldset label {
  font-size: 20px;
}

fieldset input {
  width: 25%;
  height:35px;
  padding:12px;
}

fieldset input[type="text"] {
  font-size:16px;
}

.input_street_1 input, .input_street_2 input {
  width: 100%;
}

.city input, .state input,
.zip_code input {
  width: 29%;
  margin-bottom: 2%;
}

.content textarea {
  width: 100%;
  height: 100px;
  font-size:16px;
  padding: 12px;
  margin-bottom: 2%
}

/*review my order button*/
#review_order_button input {
  background-color: #ccffff;
  width: 50%;
  height: 70px;
  margin-bottom: 10%;
  margin-left: 25%;
  text-align:center;
  padding: 10px;
  border: 2px solid #ddd;
  color: #595959;
  text-transform: uppercase;
  font-weight: bold;
}

#review_order_button input:hover {
    border: 2px solid #999999;
}
