h1.add_daily_pick_heading {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;
  padding: 5px;
  margin-top: 13%;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
}

.daily_pick_button input[type=submit] {
  width: 25%;
  padding: 10px;
  height: 50px;
  font-size: 120%;
  margin-bottom: 8%;
  margin-top: 8%;
  margin-right: 8%;
  color: #595959;
  background-color: #ccffff;
  letter-spacing: 1px;
  border: 2px solid #ddd;
  text-transform: uppercase;
  font-weight: bold;
}

.daily_pick_button input[type=submit]:hover {
  border: 2px solid #999999;
}


div.add_daily_pick_details {
  margin-top: 10%;
  margin-right: 7%;
  color: #595959;
}

.add_daily_pick_details label {
  font-size: 23px;
  padding-right: 1%;
  padding-left: 2%;
}

.add_daily_pick_details input[type=text], .add_daily_pick_details input[type=date] {
  font-size: 16px;
  padding: 5px;

}

.add_daily_pick_details input[type=date] {
  color: #595959;
}
