h1#daily_pick_title {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #595959;
  padding: 5px;
  margin-top: 13%;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
}

  /* add to cart button*/
.js-click_to_order {
  width: 25%;
  height: 50px;
  float: right;
  font-size: 120%;
  margin-top: 40px;
  margin-right: 16%;
  background-color: #ccffff;
  padding: 10px;
  border: 2px solid #ddd;
  color: #595959;
  text-transform: uppercase;
  font-weight: bold;
}

.js-click_to_order:hover {
  border: 2px solid #999999;
}

.product {
  margin-right: 9%;
  color: #595959;
}

h2.products {
  font-weight: normal;
  text-transform: capitalize;
}

.daily_pick img {
  display: inline-block;
  width: 40%;
  height: 55vh;
  object-fit: cover;
  float: left;
  margin-left: 8%;
  margin-top: 1px;
  padding: 26px;
  border: 3px solid rgba(0, 0, 0, 0.6);
}

/* quantity textbox */
#new_line_product input {
  width: 15%;
  height: 50px;
  font-size: 100%;
  padding: 10px;
}

/*button*/
#new_line_product input[type="submit"] {
  font-size: 120%;
  font-weight:normal;
  height: 50px;
  padding: 10px;
  background-color: #ccffff;
  border: 2px solid #ddd;
  color: #595959;
  margin-right: 8%;
  text-transform: uppercase;
  font-weight: bold;
}

#new_line_product input[type="submit"]:hover {
    border: 2px solid #999999;
}

form.button_to {
  margin-top: 15%;
  margin-left: 20%;
}

form input[type="submit"] {
  color: black;
  font-size: 20px;
  size: 100px;
  padding: 5%;
}
