
<body class=center>
  <div class="container">
    <table>
      <tr>
        <td><%= image_tag("flowers/2.jpg") %></td>
        <td><%= image_tag("flowers/7.jpg") %></td>
        <td><%= image_tag("flowers/8.jpg") %></td>
      </tr>
    </table>
      <div class="heading">
        <h1 class="welcomemsg"> Welcome to Daily Bulbs </h1>
        <h2 class="subheading"> Send flowers for only $30 </h2>
      </div>

  </div>
</body>
