<body class=center>

<br></br>

<h1 id="daily_pick_title"> Today's Daily Pick </h1>

    <%= render partial: "product", locals: {product: @product} %>
    <br>
  </div>
    <button class="js-click_to_order">Click Here To Order</button>
    <div id="textbox"></div>

    <br>
      <div id="testing"></div>
    <div id="error_msg"></div>



<!-- 
  <script id="form-template" type="text/x-handlebars-template">

    <form class="new_line_product" id="new_line_product" action="/line_products" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="+ddJ1iehL3JGwq4W8i9eqgI41fl4SKVJoHJgc2CQlzWxwLdD7S5mi4gCYATuUQtU20Ve1w5fvuutTQ7piazXrg==">

       <input type="hidden" value="22" name="line_product[product_id]" id="line_product_product_id">
       <label for="line_product_quantity">Quantity</label>
       <input type="text" name="line_product[quantity]" id="line_product_quantity">
       <input type="submit" name="commit" value="Add to cart" data-disable-with="Add to cart">
       <br>
    </form>
</script> -->





</body>
