<body class=center>

<br></br>
<h1> Daily Pick </h1>

    <%= render partial: "product", locals: {product: @product} %>

    <button class="js-click_to_order">Click Here To Order</button>
      <br>
      <div id="textbox"></div>
  

</body>
