<body class=center>

<br></br>
<h1> Daily Pick </h1>

    <%= render partial: "product", locals: {product: @product} %>

    <div class="js-click_to_order"> <%= link_to "Click Here To Order", new_line_product_path %></div>
      <br></br>
      <div id="textbox"></div>


</body>
