<body class=center>

<br></br>

<h1 id="daily_pick_title"> Today's Daily Pick </h1>

    <%= render partial: "product", locals: {product: @product} %>
    <br>
  </div>
    <button class="js-click_to_order">Click Here To Order</button>
    <div id="textbox"></div>

    <br>
      <div id="form"></div>
    <div id="error_msg"></div>



</body>
