
<body class=center>
  <div class="container">
    <br>
    <h1 id="daily_pick_title"> Today's Pick </h1>
    <br>
    <%= render partial: "product", locals: {product: @product} %>

      <button class="js-click_to_order">Buy</button>


      <div id="textbox"></div>

      <br></br>
      <div id="form"></div>
      <div id="error_msg"></div>

  </div>
</body>
